@media @tablet{
    .header__box{
        flex-direction:column;
    }
    .header__buttons{
        padding-top: 15px;
    }
}

@media @mobile{
    .header{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 5;
    }
}